

@if (Session["Email"] == null)
{
<div class="topnav">
    <ul class="nav navbar-nav navbar-right">

        <li>
            @Html.ActionLink("Register", "register", "Account", null, null)
        </li>

        <li>
            @Html.ActionLink("Login", "Login", "Account", null, null)
        </li>

    </ul>

</div>
 }
 else if ((string)Session["Email"] == "Admin")
 {
<div class="topnav">
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi! " + Session["Email"], "admin", "Admin", null, null)
        </li>

        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>
        </ul>

</div> }
else
{
<div class="topnav">
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hi! " + Session["Email"], "Index", "Home", null, null)
        </li>

        <li>
            @Html.ActionLink("Logout", "Logout", "Account", null, null)
        </li>
    </ul>


</div>}
