@model alloment_system.DBModel.Products

@{
    ViewBag.Title = "Details";
}

<body style="background-image: url('../../images/pro.jpg'); background-size: auto; background-repeat: no-repeat; text-align: center; color:white">


    <div class="container body-content">
        <h2>Details</h2>

        <div>
            <h4>Products</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.P_image)<br><br><br>
                </dt>

                <dd>
                    <img src="@Url.Content(Model.P_image)" height="400"><br><br><br>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P_name)<br><br><br>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P_name)<br><br><br>
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.P_price) <br><br><br>
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.P_price) <br><br><br>
                </dd>

            </dl>
        </div>
        <p>
            <a href="javascript:history.back()" class="User" style="color: black">Back To List</a>
        </p>
    </div>

</body>